* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, blue, red);
    background: -moz-linear-gradient( to left top, blue, red);
    background: -ms-linear-gradient( to left top, blue, red);
    background: -o-linear-gradient( to left top, blue, red);
    background: linear-gradient( to left top, blue, red)
}
.bar {
  position: absolute;
  top: 0;
  right: -100%;
  width: 250px;
  background: #fff;
  padding: 40px 20px;
  z-index: 1000;
  border-radius: 5px;
  height: 100vh;
  transition: 0.5s;
}
.bar.active {
  right: 0%;
}
.bar .back {
  color: #000;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 1px;
  cursor: pointer;
}
.bar .line {
  height: 1px;
  background: #524f4f;
  margin: 35px -19px;
}
.bar ul {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.bar ul li {
  list-style: none;
  line-height: 2.7;
}
.bar ul li a {
  color: #000;
  font-size: 18px;
  line-height: 2.7;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
.bar ul li a:hover {
  text-decoration: none;
  color: #f5a42a;
}
.header {
  background-color: #0083c1;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}
.header .inside_header {
  /* border: 1px solid #000; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
/* .header .inside_header .delivery {
  display: flex;
  margin-left: 80px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}
/* .header .inside_header .delivery .fa {
  width: auto;
  margin-right: 20px;
  color: #fff;
  transform: scale(1.5);
}
.header .inside_header .delivery p {
  color: #fff;
  width: 150px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
} */
.header .inside_header .navbar {
  /* border: 1px solid black; */
  display: flex;
  position: relative;
  right: 0;
}
.header .inside_header .navbar1 {
  border: 1px solid black;
  display: flex;
}
.header .inside_header .logo img {
  height: 50px;
  width: 50px;
      margin: 5px;
}
.header .inside_header .nav {
  margin-left: 20px;
  margin-right: 30px;
  display: flex;
}
.header .inside_header .nav.shop {
  /* margin-left: 45%; */
}
.header .inside_header .nav i {
  color: #fff;
  transform: scale(1.5);
  cursor: pointer;
}
.header .inside_header form {
  display: flex;
}
.header .inside_header form .select_area {
  background: #fff;
  width: 180px;
  height: 50px;
  text-align: center;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  border-right: 0.5px solid #a98f8f;
  cursor: pointer;
}
.header .inside_header form .category {
  background: #fff;
  width: 180px;
  height: 50px;
  text-align: center;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}
.header .inside_header form input {
  border: none;
  background: #fff;
  width: 280px;
  height: 50px;
  padding-left: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
}
.header .inside_header form input.shop {
  border: none;
  background: #fff;
  width: 280px;
  height: 50px;
  padding-left: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
}
.header .inside_header form input:focus {
  border: none;
}
.header .inside_header .search_icon {
  padding: 15px 20px;
  background-color: #f1bb3a;
  align-self: center;
  width: 60px;
  height: 50px;
}
.header .inside_header .search_icon.shop {
  padding: 15px 20px;
  background-color: #f1bb3a;
  align-self: center;
  width: 60px;
  height: 50px;
}
.header .inside_header .search_icon i {
  color: #fff;
  transform: scale(1.5);
  cursor: pointer;
}
.header .inside_header .cart {
  margin-left: 50px;
  position: relative;
}
.header .inside_header .cart.shop {
  margin-left: 50px;
  position: relative;
}
.header .inside_header .cart::before {
  position: absolute;
  content: "0";
  width: 20px;
  height: 24px;
  padding-bottom: 3px;
  padding-left: 4px;
  background: yellow;
  transform: translate(50%, -90%);
  border-radius: 50%;
  overflow: hidden;
}
.header .inside_header .cart i {
  color: #fff;
  transform: scale(1.5);
  cursor: pointer;
  transition: 0.5s;
}
.header .inside_header .cart i:hover {
  transform: scale(1.8);
}
.flickity-prev-next-button.previous {
  left: 10px;
  display: none;
}
.flickity-prev-next-button.next {
  right: 10px;
  display: none;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  display: none;
}
.main_carousel {
  margin: 15px 0;
  background: #fff;
  height: 284px;
}
.main_carousel .cell {
  width: 500px;
  height: 260px;
  display: inline-block;
  margin: 0 15px;
  border-radius: 8px;
  overflow: hidden;
}
.main_carousel .cell img {
  width: 95%;
  height: 100%;
  object-fit: cover;
}

.shop_container {
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;

  padding-left: 0px;
  flex-wrap: wrap;
}
.shop_container .shopn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url();
}
.shop_container .shopn {
  width: 170px;
  height: 130px;
  background: #b3d7ff;
  margin: 5px;
  border-radius: 4px;
  margin-top: 10px;
}
.shop_container .shopn img {
  width: 120px;
  height: 90px;
  margin: 10px 25px;
}
.shop_container .shopn p {
  margin: -3px 23px;
  color: #827676;
  font-size: 12px;
  font-weight: 500;
}
.shop_container .shopn:hover p {
  color: #fff;
}
.product_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product_container .heading {
  background: #fff;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px -10px;
}
.product_container .heading h2 {
  color: #504a4a;
  font-size: 36px;
  letter-spacing: 1px;
}
.product {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  justify-content: space-between;
}

.product_container .product .prodn {
  background: #fff;
  width: 19%;
  margin-left: 5px;
  height: 380px;
}
.product_container .product .prodn img {
  overflow: hidden;
  width: 100%;
  height: 306px;
}
.product_container .product .prodn p {
  overflow: hidden;
  color: #887979;
  margin: 10px 10px;
  letter-spacing: 1px;
  user-select: none;
}
.product_container .product .prodn span {
  color: #124fd8;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 25px;
  font-weight: 500;
}

.service {
  background: #007bff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0em 0em;
  height: auto;
  margin-top: 0px;
}
.service .one {
  width: 242px;
  display: flex;
  justify-content: space-evenly;
}
.service .one i {
  color: #fff;
  transform: scale(1.5);
  position: relative;
  top: 12px;
  transition: 0.5s;
}
.service .one i:hover {
  transform: scale(1.8);
}
.service .one p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
#image {
  height: 41px;
  width: 67px;
}

.carousel {
  background-color: #0083c1;
  margin-bottom: 0;
}
.carousel .carousel-inner .carousel-item.active {
  display: flex;
  padding: 28px 360px;
}
.carousel .carousel-inner .carousel-item .user {
  width: 230px;
  height: 104px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #145f9a;
  margin: 0 25px;
}
.carousel .carousel-inner .carousel-item .user i {
  transform: scale(3.5);
  color: #bb58586b;
}
.carousel .carousel-inner .carousel-item .content {
  padding: 15px 20px;
}
.carousel .carousel-inner .carousel-item .content h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.carousel .carousel-inner .carousel-item .content p {
  color: #fff;
}
.services {
  position: relative;
  background: #f1bb3a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
}
.services.shop {
  background: #f1bb3a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 68px;
  margin-top: 20px;
}
.services > i {
  color: #fff;
  transform: scale(2.9);
  margin: 2px 20px;
  position: relative;
  top: -7px;
}
.services > p {
  color: #fff;
  font-size: 24px;
  margin-right: 19px;
  margin-left: 15px;
}
#num {
  font-size: 37px;
}
.contact .inside_contact {
  display: flex;
  height: 150px;
  width: 100vw;
  padding: 0px 180px;
}
.contact .inside_contact .contact_image {
  display: flex;
  width: 400px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.contact .inside_contact .contact_image img {
  width: 150px;
  height: 45px;
  margin-left: 5px;
}
.contact .inside_contact .sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 535px;
  height: 100%;
  padding: 36px 0;
}
.contact .inside_contact .sub h3 {
  text-transform: uppercase;
}
.contact .inside_contact .sub input {
  width: 74%;
  height: 35px;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 7px;
  border: 0.5px solid #dcc1c1;
}
.contact .inside_contact .sub input:focus {
  border: 0px solid #dcc1c1;
}
#mail {
  color: #2d2626;
  position: relative;
  top: 27px;
  right: 177px;
}
#send {
  color: #2d2626;
  position: relative;
  bottom: 24px;
  left: 175px;
  cursor: pointer;
}
.contact .inside_contact .social_icon {
  display: flex;
  height: 100%;
}
.contact .inside_contact .social_icon ul {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.contact .inside_contact .social_icon li {
  margin-left: 20px;
  list-style: none;
  background: #f2f2f2;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 11px 10px 10px 19px;
  transition: 0.5s;
}
.contact .inside_contact .social_icon li:hover {
  background: #f1bb3a;
  cursor: pointer;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  margin: 1rem 10px;
  border-top: 1.2px solid rgba(0, 0, 0, 0.1);
}
.second_content {
  display: flex;
  padding: 10px 200px;
}
.second_content .about {
  width: 550px;
  padding-right: 180px;
}
.second_content .about p {
  color: #8e8787;
  line-height: 1.7;
}
#logo {
  width: 200px;
  height: 120px;
}
#payment {
  width: 440px;
  height: 100px;
}
#payment:hover {
  cursor: pointer;
}
.second_content .about_list {
  width: 350px;
  height: 300px;
  margin-left: 10px;
}
.second_content .about_list h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  color: #000;
}
#hr {
  position: relative;
  width: 60px;
  border: 2px solid #00b6f5;
  left: -8px;
}
.second_content .about_list ul {
  height: 83%;
}
.second_content .about_list ul li {
  list-style: none;
  line-height: 2.5;
  color: #694f4f;
  letter-spacing: 1px;
  cursor: pointer;
}
.foot {
  background-color: #007bff;
  padding: 10px 0;
  height: 50px;
  text-align: center;
}
.foot p {
  font-size: 14px;
  color: #f8f9fa;
}

.shop_heading {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 100px;
  width: 100vw;
  height: 100px;
}
.shop_heading h2 {
  font-weight: 400;
}
.shop_heading .shop_path {
  display: flex;
  margin-top: 15px;
}
.shop_heading .shop_path p {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.shop_heading .shop_path p a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.shop_heading .shop_path img {
  transform: scale(0.5);
  position: relative;
  top: -12px;
}

.shop_content {
}
.shop_content hr {
  background-color: #000;
  margin: 1rem 30px;
  margin-left: 97px;
  margin-top: 20px;
  border: 1px solid rgb(0 0 0 / 10%);
}
.shop_content ul {
  width: 100vw;
  height: 20px;
  display: flex;
  padding: 0 80px;
}
.shop_content ul li {
  margin-left: 20px;
  list-style: none;
  border: 1px solid #9c8c8c;
  padding: 0px 7px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  color: #10108e;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.shop_content ul li:hover {
  color: #fff;
  background: #10108e;
}
.shop_content ul li.active {
  color: #fff;
  background: #10108e;
}

.shopDetails {
  display: flex;
  width: 100vw;
  height: 250px;
  align-items: center;
  padding: 0 200px;
  background: #fff;
  border-bottom: 0.5px solid #676666;
}
.shopDetails img {
  height: 200px;
  width: 250px;
}
.shopDetails .insideshopDetails {
  height: 100%;
  display: flex;
  padding: 40px 50px;
  align-items: center;
  flex-direction: column;
}
.shopDetails .insideshopDetails h2 {
}
.shopDetails .insideshopDetails p {
  align-self: end;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.product_division {
  height: auto;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.product_division .filter {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: auto;
  /* overflow: auto; */
  padding: 25px 18px;
  background: #fff;
  margin-top: 10px;
}
.product_division .filter a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 5px;
}
.product_division .filter a.active {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  border-right: 2px solid green;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 5px;
}
.product_division .prod {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  /* overflow: auto; */
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 10px;
}
.product_division .prod .prod_head {
  width: 100%;
  font-size: 40px;
  padding: 5px 70px;
  font-weight: 600;
  background: #e0d7d7;
}
.product_division .prod .prodn {
  display: flex;
  padding: 5px 40px;
}
.product_division .prod .prodn img {
  height: 65px;
  width: 80px;
}
.product_division .prod .prodn .prodn_details {
  width: 260px;
  height: 100px;
  margin-left: 5px;
}
.product_division .prod .prodn .prodn_details h4 {
}
.product_division .prod .prodn .prodn_details p {
  margin-bottom: 10px;
  color: #695555;
}
.product_division .prod .prodn .prodn_details p.amount {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}
.product_division .prod .prodn .yt {
  width: 58px;
  height: 30px;
  margin-top: 35px;
}
.product_division .prod .prodn .yt a {
}
.product_division .prod .prodn .yt a img {
  width: 60px;
  height: 30px;
}


.containerbutton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;

 
}













.card-holder {
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  justify-content: start;
}
.card-holder a {
  text-decoration: none;
  margin-left: 2px;
}
.card-holder a:hover {
  border: 1px solid #000;
  border-radius: 5px;
}
.card {
  padding: 2px;
  width: 100%;
  border: 2px solid #000;
  margin: 5px;
}

.card h4 {
  text-align: center;
  background-color: #0d6efd;
  color: aliceblue;
  padding-left: 3px;
  padding-right: 3px;
}
.card p {
  word-wrap: break-word;
  color: black;
      margin-bottom: 0rem;
}

.top-head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}

.top-head .top-heading {
  margin: 1% 2% 0%;
  width: 150px;
}
.top-head .top-heading img {
  width: 70px;
  height: 70px;
  border-radius: 0%;
}
.top-head .top-heading p {
  width: 100%;
      margin-bottom: 0rem;
}
.top-head a {
  text-decoration: none;
}